body {
    overflow-x: hidden;
    background-color: #f3f3f3;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.parallax {
    background-image: url("https://w0.peakpx.com/wallpaper/659/630/HD-wallpaper-la-calle-de-noche-la-calle-en-la-ciudad-de-noche.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content {
    z-index: 1;
}

.container {
    padding: 20px;
}

.reserva-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 20px 0;
    background-color: #fff;
}

.card-content {
    padding: 20px;
}
.card-title {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.card-details {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 10px;
}

.hidden {
    display: none;
}

.input{
    position: relative;
}

.input i{
    position: absolute;
    top: 10px;
    left: 11px;
    color: #989898;
}

.input input{
    text-indent: 25px;
}

