body {
    overflow-x: hidden;
    background-color: #f8f9fa;
}

.logo {
    width: 130px;
    border: 2px solid #343a40; 
    border-radius: 100px;
}

.navbar-nav .boton a {
    background-color: black;
    color: white;
    padding: 15px 20px;
    border: 2px solid black; 
    transition: background-color 0.3s, border-color 0.3s, color 0.1s;
    border-radius: 2px;
}

.boton a:hover {
    background-color: #fff; 
    color: black; 
}

.card1{
    transition: transform 0.3s;
    background-color: #2C3E50;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card1:hover{
    transform: translateY(-13px);
}

.caja1{
    transition: transform 0.3s;
    background-color: #E7E883;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.caja1:hover{
    transform: translateY(-13px);
}

.caja2{
    transition: transform 0.3s;
    background-color: black;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.caja2:hover{
    transform: translateY(-13px);
}

.caja3{
    transition: transform 0.3s;
    background-color: #1a5276;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.caja3:hover{
    transform: translateY(-13px);
}

.caja4{
    transition: transform 0.3s;
    background-color: #DAA520;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.caja4:hover{
    transform: translateY(-13px);
}

.caja5{
    transition: transform 0.3s;
    background-color: #556B2F;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.caja5:hover {
    transform: translateY(-13px);
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    border-radius: 20px;
}

.boton1 a{
    background-color: white;
    padding: 10px 25px;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.boton1 a:hover {
    background-color: black;
    color: white;
}

.caja{
    background-color: black;
    padding: 30px;
    color: gray;
    text-align: right;
    display: flex;
    justify-content: space-between;
}

.icono{
    font-size: 20px;
    margin-right: 7px;
    color: white;
}

.icono:hover{
    color: gray;
}

.boton_desple a{
    background-color: black;
    color: white;
    padding: 15px 20px;
    transition: background-color 0.3s, border-color 0.3s, color 0.1s;
    border-radius: 2px;
}

.boton_desple a:hover{
    background-color: white;
    color: black;
}

.boton_cerrar a{
    background-color: red;
    color: white;
    padding: 15px 20px;
    transition: background-color 0.3s, border-color 0.3s, color 0.1s;
    border-radius: 2px;
}

.boton_cerrar a:hover{
    background-color: white;
    color: black;
}
